serverless-text-to-speech/statemachine.asl.yaml
Comment: State Machine used for text to speech workflow
Version: '1.0'
StartAt: MapInput
States:

  MapInput:
    Type: Pass
    Next: SendToTextract
    Parameters:
      id.$: "$.id"
      bucket.$: "$.detail.bucket.name"
      key.$: "$.detail.object.key"
      time.$: "$.time"
      region.$: "$.region"
    ResultPath: "$"
  
  
  
  
  
  SendToTextract:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke.waitForTaskToken
    OutputPath: "$.Payload"
    Parameters:
      Payload:
        id.$: $.id
        bucket.$: $.bucket
        key.$: $.key
        time.$: $.time
        region.$: $.region
        jobid.$: $.jobid
        tasktoken.$: $$.Task.Token
      FunctionName: ${SendToTextractFunction}
    Retry:
    - ErrorEquals:
      - Lambda.ServiceException
      - Lambda.AWSLambdaException
      - Lambda.SdkClientException
      IntervalSeconds: 2
      MaxAttempts: 6
      BackoffRate: 2
    Next: GetTextBlocks
    Catch:
    - ErrorEquals:
      - States.ALL
      Comment: Catch Step Failure
      Next: Publish Fail





  Publish Fail:
    Type: Task
    Resource: arn:aws:states:::sns:publish
    Parameters:
      Message.$: "$"
      TopicArn: ${FailureTopic}
    Next: Fail
  Fail:
    Type: Fail



  GetTextBlocks:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    OutputPath: "$.Payload"
    Parameters:
      Payload.$: "$"
      FunctionName: ${ProcessTextFunction}
    Retry:
    - ErrorEquals:
      - Lambda.ServiceException
      - Lambda.AWSLambdaException
      - Lambda.SdkClientException
      IntervalSeconds: 2
      MaxAttempts: 6
      BackoffRate: 2
    Next: StartSpeechSynthesisTask
    Catch:
    - ErrorEquals:
      - States.ALL
      Next: Publish Fail
  StartSpeechSynthesisTask:
    Type: Task
    Next: Publish Metadata
    Parameters:
      OutputFormat: MyData
      OutputS3BucketName: MyData
      Text: MyData
      VoiceId: MyData
    Resource: arn:aws:states:::aws-sdk:polly:startSpeechSynthesisTask
    Catch:
    - ErrorEquals:
      - States.ALL
      Next: Publish Fail
  Publish Metadata:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    OutputPath: "$.Payload"
    Parameters:
      Payload.$: "$"
      FunctionName: ${PublishMetadataFunction}
    Retry:
    - ErrorEquals:
      - Lambda.ServiceException
      - Lambda.AWSLambdaException
      - Lambda.SdkClientException
      IntervalSeconds: 2
      MaxAttempts: 6
      BackoffRate: 2
    Next: Output Metadata
    Catch:
    - ErrorEquals:
      - States.ALL
      Next: Publish Fail
  Output Metadata:
    Type: Task
    Resource: arn:aws:states:::dynamodb:putItem
    Parameters:
      TableName: MyDynamoDBTable
      Item:
        Column:
          S: MyEntry
    Next: Publish Success
    Catch:
    - ErrorEquals:
      - States.ALL
      Next: Publish Fail
  Publish Success:
    Type: Task
    Resource: arn:aws:states:::sns:publish
    Parameters:
      Message.$: "$"
      TopicArn: ${SuccessTopic}
    Next: Success
    Catch:
    - ErrorEquals:
      - States.ALL
      Next: Publish Fail
  Success:
    Type: Succeed
